.campus{
    margin: 40px auto 80px;
    width: 90%;
    text-align: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery img{
    width: 23%;
    border-radius: 10px;
    margin-bottom: 28px;
}

/* -----media query-----  */

@media screen and (max-width: 767px) {
   .gallery img{
      width: 48%;
      margin-bottom: 15px;
   }
}